<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text"
                        class="form-control"
                        placeholder="Buscar usuario..."
                        (keyup)="buscar( txtTermino.value)"
                        #txtTermino/>

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast"
        *ngIf="cargando">
    <div class="col-12">
       
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Usuarios Moviles</h4>
                        <h6 class="card-subtitle">Usuarios moviles registrados</h6>
                    </div>

                    <div class="col">
                        <div class="text-right">
                           <a class="btn btn-primary"
                                routerLink="/dashboard/usuario-movil/nuevo">
                                Crear Usuario
    
                           </a> 
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Ciudad</th>
                                <th>Email</th>
                                <th class="text-nowrap" colspan="2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuariom of usuariosm">
                                <td>{{ usuariom.nombre }}</td>
                                <td>{{ usuariom.ciudad }}</td>
                                <td>{{ usuariom.email }}</td>
                               
                                
                                <!-- <td class="text-nowrap">
                                    <a [routerLink]="[ '/dashboard/usuario-movil', usuariom._id]"data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a class="cursor"
                                        data-toggle="tooltip" 
                                        (click)="eliminarUsuario(usuariom)"
                                        data-original-title="Close"> 
                                        <i class="fa fa-close text-danger"></i> 
                                    </a>
                                </td> -->
                                <td class="text-nowrap" align="center">
                                   
                                    <button type="button" class="btn btn-primary btn-sm" [routerLink]="[ '/dashboard/usuario-movil', usuariom._id ]">Ver</button>
                                    
                                   
                                </td>
                                <td class="text-nowrap" align="center">
                                   
                                    
                                    <button type="button" class="btn btn-primary btn-sm" (click)="eliminarUsuario(usuariom)">Eliminar</button>
                                   
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>

                <button class="btn btn-secundary">Anterior</button>
                &nbsp;
                <button class="btn btn-secundary">Siguientes</button>
            </div>
        </div>
    </div>
</div>

