<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text"
                        class="form-control"
                        placeholder="Buscar cuenta por nombre..."
                        (keyup)="buscar( txtTermino.value)"
                        #txtTermino/>

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" 
        *ngIf="cargando">
    <div class="col-12">
       
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Cuentas ({{ cuenta.length}})</h4>
                        <h6 class="card-subtitle">Lista de cuentas de los clientes registrados</h6>
                    </div>

                    <div class="col">
                        <div class="text-right">
                           <a class="btn btn-primary"
                                routerLink="/dashboard/cuenta/nuevo">
                                Crear cuenta
    
                           </a> 
                        </div>
                    </div>
                </div>
                

               
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nro. Cliente</th>
                                <th>Ciudad</th>
                                <th>Nombre</th>
                                <th class="text-nowrap" colspan="2"  >Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cuentas of cuenta">
                                <td>{{ cuentas.nro_cliente }}</td>
                                <td>{{ cuentas.ciudad }}</td>
                                <td>{{ cuentas.nombres }} {{cuentas.apellidos}}</td>
                               
                               
                                
                                <td class="text-nowrap" align="center">
                                   
                                    <button type="button" class="btn btn-primary btn-sm" [routerLink]="[ '/dashboard/cuenta', cuentas._id ]">Ver</button>
                                    
                                   
                                </td>
                                <td class="text-nowrap" align="center">
                                   
                                    
                                    <button type="button" class="btn btn-primary btn-sm" (click)="borrarCuenta(cuentas)">Eliminar</button>
                                   
                                </td>
                            </tr> 
                           
                        </tbody>
                    </table>
                </div>

                <button class="btn btn-secundary">Anterior</button>
                &nbsp;
                <button class="btn btn-secundary">Siguientes</button>
            </div>
        </div>
    </div>
</div>


