<!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li>
                            <a class="nav-link text-white">MENU DE OPCIONES</a>
                        </li>
                        <br>
                        <li >
                            
                          <a href="/dashboard/pagos/diaActivos" class="nav-link text-white" >
                            
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="/pagos/diaActivos"></use></svg>
                            Pagos
                          </a>
                        </li>
                        <li>
                          <a href="/dashboard/cuentas" class="nav-link text-white">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="/dashboard/cuentas"></use></svg>
                            Cuentas
                          </a>
                        </li>
                        <li>
                          <a href="/dashboard/usuario-movil" class="nav-link text-white">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="/dashboard/cuentas"></use></svg>
                            Usuarios Moviles
                          </a>
                        </li>
                        <li>
                          <a href="/dashboard/localizacion" class="nav-link text-white">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="/dashboard/localizacion"></use></svg>
                            Localización
                          </a>
                        </li>
                      </ul>
                       
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->

     
