<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <!-- <div class="card-body">

                <input type="text"
                        class="form-control"
                        placeholder="Buscar usuario..."/>

            </div> -->
        </div>
    </div>
</div>



    <form class="row row-cols-sm-auto" [formGroup]="buscarForm" (submit)="BuscaFecha()">
        <div class="col-md-6 col-lg-3 col-xlg-3">
            Buscar lista de pagos
          <div class="input-group">
            <input class="form-control" readonly formControlName="fecha"
                   name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
            <button   class="btn btn-primary btn-sm" (click)="d.toggle()" type="button">
                Elegir Fecha
            </button>
        
          </div>
          
        </div>
        
        <button type="submit" class="btn btn-primary btn-sm" >Buscar</button>
    </form>
    


<br>
<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" routerLink="/dashboard/pagos/diaActivos">Activos</button>
    <button type="button" class="btn btn-secondary" routerLink="/dashboard/pagos/diaAnulados">Anulados</button>

</div>
<br>

<div class="row animated fadeIn fast"
    *ngIf="cargando">
    <div class="col-12">
       
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>

<div class="row m-t-40">
    <!-- Column -->
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white">2,064</h1>
                <h6 class="text-white">Monto de Pagos</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card">
            <div class="box bg-primary text-center">
                <h1 class="font-light text-white"></h1>
                <h6 class="text-white">Nro. de Pagos del dia</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card">
            <div class="box bg-success text-center">
                <h1 class="font-light text-white">1100</h1>
                <h6 class="text-white">Resolve</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card">
            <div class="box bg-dark text-center">
                <h1 class="font-light text-white">964</h1>
                <h6 class="text-white">Pending</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>

<div class="row"
        *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title">Pagos ({{ pagos.length }})</h4>
                <h6 class="card-subtitle">Pagos registrados del dia</h6>
                <div class="col">
                    <div class="text-right">
                       <a class="btn btn-primary"
                                (click)="createPDF()">
                            Reporte
                       </a> 
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Pagos </h4>
                        <h6 class="card-subtitle">Pagos registrados del dia</h6>
                    </div>

                    <div class="col">
                        <div class="text-right">
                           <button class="btn btn-primary"
                                (click)="createPDF()">
                                Reporte
    
                            </button> 
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Ciudad</th>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Cliente</th>
                                <th>Monto (Bs)</th>
                                <th>Monto ($us)</th>

                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pago of pagos">
                                <td>{{ pago.cuenta.nro_cliente }}</td>
                                <td>{{ pago.fecha | date: 'dd/mm/YYYY HH:mm'}}</td>
                                <td>{{ pago.usuarioM.nombre }}</td>
                                <td>{{ pago.cuenta.nombres}} {{ pago.cuenta.apellidos }}</td>
                                <td>{{ pago.cuenta.ciudad }}</td>
                                
                                <td>{{ pago.montoSus }}</td>
                               
                               
                               
                                <td class="text-nowrap">
                                    <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>

                
            </div>
        </div>
    </div>
</div>


